ABFilms/Infrastructure/abfilms-lambdas/pipeline-definition/pipeline.asl.json
{
  "StartAt": "ProcessInitialData",
  "States": {
    "ProcessInitialData": {
      "Type": "Pass",
      "Comment": "Initial step to acknowledge receipt of S3 data",
      "Result": {
        "validation": "SUCCESS"
      },
      "ResultPath": "$.workflow_status",
      "Next": "DetermineMediaType"
    },
    "DetermineMediaType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data['Program Type']",
          "StringEquals": "Movie",
          "Next": "ProcessMoviePath"
        },
        {
          "Variable": "$.data['Program Type']",
          "StringEquals": "Show",
          "Next": "ProcessShowPath"
        }
      ],
      "Default": "UnknownTypeFallback"
    },
    "ProcessMoviePath": {
      "Type": "Pass",
      "Result": { 
        "engine": "vfx-pipeline",
        "label": "Feature Film" 
      },
      "ResultPath": "$.routing_info",
      "Next": "FinalSuccess"
    },
    "ProcessShowPath": {
      "Type": "Pass",
      "Result": { 
        "engine": "episodic-pipeline",
        "label": "TV Series" 
      },
      "ResultPath": "$.routing_info",
      "Next": "FinalSuccess"
    },
    "UnknownTypeFallback": {
      "Type": "Fail",
      "Cause": "The 'Program Type' provided was neither 'Movie' nor 'Show'.",
      "Error": "INVALID_PROGRAM_TYPE"
    },
    "FinalSuccess": {
      "Type": "Pass",
      "End": true
    }
  }
}