ABFilms/Infrastructure/abfilms-lambdas/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: SAM Project to deploy lambdas required for pipeline

Parameters:

  Identifier:
    Description: name added to resources
    Type: String

  Environment:
    Description: name
    Type: String

  IngestS3BucketName:
    Description: Bucket name where assets are placed
    Type: String

  OutputS3BucketName:
    Description: Bucket name where assets are placed
    Type: String

  MediaconvertRole:
    Type: String
    Description: mediaconvert job

  MovieMediaConvertTemplate:
    Type: String
    Description: mediaconvert template for jobs

  MovieMediaConvertQueue:
    Type: String
    Description: mediaconvert queue 

  ShowMediaConvertTemplate:
    Type: String
    Description: mediaconvert template for jobs

  ShowMediaConvertQueue:
    Type: String
    Description: mediaconvert queue 

  CloudfrontEndpoint:
    Type: String

  DRMTodayApiEndpoint:
    Type: String
    Default: "NOT_SET"

  DRMTodaySystemIds:
    Type: String
    Default: "NOT_SET"

  SupaBaseUrl:
    Type: String
    Default: "NOT_SET"

  SupaBaseServiceRole:
    Type: String
    Default: "NOT_SET"

  DrmEnabled:
    Type: String
    Default: "True"

  DrmLicenseUrl:
    Type: String
    Default: "https://mock.com/license"

  PublicAssetsCdn:
    Type: String
    Default: "https://cdn.com/license"

  AllowSupabaseWrites:
    Type: String
    Default: "False"

Conditions:
  IsDev: !Equals [!Ref Environment, "dev"]

Resources:

  MoviesDataSaveLambdaLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "abfilms-${Identifier}-${Environment}-movie-save-data/logs"
      RetentionInDays: !If [IsDev, 7, 90]

  MoviesDataSaveLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "abfilms-${Identifier}-${Environment}-movie-save-data"
      CodeUri: src/movie_data_save
      Handler: main.lambda_handler
      Runtime: python3.13
      MemorySize: 128
      Timeout: 120
      Policies:
        - CloudWatchPutMetricPolicy: {}
      Environment:
        Variables:
          DRM_ENABLED: !Ref DrmEnabled
          SHOWS_PUBLIC_CLOUDFRONT_URL: !Ref PublicAssetsCdn
          DRM_LICENCE_URL: !Ref DrmLicenseUrl
          ENVIRONMENT: !Ref Environment
          SUPABASE_URL: !Sub "{{resolve:secretsmanager:${SupaBaseUrl}:SecretString::AWSCURRENT}}"
          SERVICE_ROLE_KEY: !Sub "{{resolve:secretsmanager:${SupaBaseServiceRole}:SecretString::AWSCURRENT}}"
          ALLOW_SUPABASE_WRITE: !Ref AllowSupabaseWrites
      LoggingConfig:
        LogGroup: !Ref MoviesDataSaveLambdaLogs

  ShowDataSaveLambdaLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "abfilms-${Identifier}-${Environment}-show-save-data/logs"
      RetentionInDays: !If [IsDev, 7, 90]

  ShowDataSaveLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "abfilms-${Identifier}-${Environment}-show-save-data"
      CodeUri: src/show_data_save
      Handler: main.lambda_handler
      Runtime: python3.13
      MemorySize: 128
      Timeout: 120
      Policies:
        - CloudWatchPutMetricPolicy: {}
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          SUPABASE_URL: !Sub "{{resolve:secretsmanager:${SupaBaseUrl}:SecretString::AWSCURRENT}}"
          SERVICE_ROLE_KEY: !Sub "{{resolve:secretsmanager:${SupaBaseServiceRole}:SecretString::AWSCURRENT}}"
          ALLOW_SUPABASE_WRITE: !Ref AllowSupabaseWrites
      LoggingConfig:
        LogGroup: !Ref ShowDataSaveLambdaLogs

  JobBuilderLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "abfilms-${Identifier}-${Environment}-job-builder/logs"
      RetentionInDays: !If [IsDev, 7, 90]

  JobBuilder:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "abfilms-${Identifier}-${Environment}-job-builder"
      CodeUri: src/job-builder
      Handler: main.lambda_handler
      Runtime: python3.13
      MemorySize: 256
      Timeout: 120
      Policies:
        - CloudWatchPutMetricPolicy: {}
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          CLOUDFRONT_ENDPOINT: !Ref CloudfrontEndpoint
          DRMTODAY_API_ENDPOINT: !Ref DRMTodayApiEndpoint
          DRMTODAY_SYSTEM_IDS: !Ref DRMTodaySystemIds
      LoggingConfig:
        LogGroup: !Ref JobBuilderLogs

  ABFilmsMoviePipelineWorkflowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "abfilms-movies-${Identifier}-${Environment}-statemachine/logs"
      RetentionInDays: !If [IsDev, 7, 90]

  ABFilmsShowPipelineWorkflowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "abfilms-shows-${Identifier}-${Environment}-statemachine/logs"
      RetentionInDays: !If [IsDev, 7, 90]

  ABFilmsMoviePipelineWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub abfilms-movies-${Identifier}-${Environment}-statemachine
      Definition:
        StartAt: MediaConvertJobBuilder
        States:

          MediaConvertJobBuilder:
            Type: Task
            Resource: !GetAtt JobBuilder.Arn
            Next: CreateMediaConvertJobMovies
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: GeneralFailed
            #End: true
          
          CreateMediaConvertJobMovies:
            Type: Task
            Resource: "arn:aws:states:::mediaconvert:createJob.sync"
            Parameters:
              "Queue.$": "$.Queue"
              "Role.$": "$.Role"
              "Settings.$": "$.Settings"
              "UserMetadata.$": "$.UserMetadata"
            "ResultPath": "$.JobResult"
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: MediaConvertJobFailed
            Next: MovieDataSave

          MovieDataSave:
            Type: Task
            Resource: !GetAtt MoviesDataSaveLambda.Arn
            End: True
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: GeneralFailed

          GeneralFailed:
            Type: Fail
            ErrorPath: "$.Error"
            CausePath: "$.Cause"

          MediaConvertJobFailed:
            Type: Fail
            ErrorPath: "$.Error"
            CausePath: "$.Cause"

      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ABFilmsMoviePipelineWorkflowLogGroup.Arn
        IncludeExecutionData: !If [IsDev, true, false]
        Level: !If [IsDev, "ALL", "ERROR"]
      Policies:
        - CloudWatchLogsFullAccess
        - LambdaInvokePolicy:
            FunctionName: !Ref JobBuilder
        - LambdaInvokePolicy:
            FunctionName: !Ref MoviesDataSaveLambda
        - AWSElementalMediaConvertFullAccess
        - Statement:
          - Effect: Allow
            Action:
            - events:PutTargets
            - events:PutRule
            - events:DescribeRule
            Resource: 
            - "*"
      DefinitionSubstitutions:
        ProjectName: "ABFilms"

  ABFilmsShowPipelineWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub abfilms-shows-${Identifier}-${Environment}-statemachine
      Definition:

        StartAt: MediaConvertJobBuilder
        States:
          MediaConvertJobBuilder:
            Type: Task
            Resource: !GetAtt JobBuilder.Arn
            Next: CreateMediaConvertJobShows
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: GeneralFailed
                #ResultPath: "$.ErrorDetails"
            #End: true
          
          CreateMediaConvertJobShows:
            Type: Task
            Resource: "arn:aws:states:::mediaconvert:createJob.sync"
            Parameters:
              "Queue.$": "$.Queue"
              "Role.$": "$.Role"
              "UserMetadata.$": "$.UserMetadata"
              "Settings.$": "$.Settings"
            "ResultPath": "$.JobResult"
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: MediaConvertJobFailed
            Next: ShowDataSave

          ShowDataSave:
            Type: Task
            Resource: !GetAtt ShowDataSaveLambda.Arn
            End: True
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: GeneralFailed

          GeneralFailed:
            Type: Fail
            ErrorPath: "$.Error"
            CausePath: "$.Cause"

          MediaConvertJobFailed:
            Type: Fail
            ErrorPath: "$.Error"
            CausePath: "$.Cause"

      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ABFilmsShowPipelineWorkflowLogGroup.Arn
        IncludeExecutionData: !If [IsDev, true, false]
        Level: !If [IsDev, "ALL", "ERROR"]
      Policies:
        - CloudWatchLogsFullAccess
        - LambdaInvokePolicy:
            FunctionName: !Ref JobBuilder
        - LambdaInvokePolicy:
            FunctionName: !Ref ShowDataSaveLambda
        - AWSElementalMediaConvertFullAccess
        - Statement:
          - Effect: Allow
            Action:
            - events:PutTargets
            - events:PutRule
            - events:DescribeRule
            Resource: 
            - "*"
      DefinitionSubstitutions:
        ProjectName: "ABFilms"

  # log group to check logs from lambda, useful for debug
  S3IngestUploadTriggerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "abfilms-${Identifier}-${Environment}-s3-trigger/logs"
      RetentionInDays: !If [IsDev, 7, 90]
  
  # Lambda processing upload events: when CSV files are uploaded
  S3IngestUploadTrigger:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "abfilms-${Identifier}-${Environment}-s3-trigger"
      CodeUri: src/trigger
      Handler: main.lambda_handler
      Runtime: python3.13
      MemorySize: 256
      Timeout: 120
      Policies:
        - CloudWatchPutMetricPolicy: {}
        - S3ReadPolicy:
            BucketName: !Ref IngestS3BucketName
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt ABFilmsMoviePipelineWorkflow.Name
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt ABFilmsShowPipelineWorkflow.Name
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          S3_OUTPUT_BUCKET: !Ref OutputS3BucketName
          MEDIACONVERT_ROLE: !Ref MediaconvertRole

          MOVIE_STATE_MACHINE: !Ref ABFilmsMoviePipelineWorkflow    
          MOVIE_MEDIACONVERT_QUEUE: !Ref MovieMediaConvertQueue
          MOVIE_MEDIACONVERT_TEMPLATE: !Ref MovieMediaConvertTemplate

          SHOW_STATE_MACHINE: !Ref ABFilmsShowPipelineWorkflow
          SHOW_MEDIACONVERT_QUEUE: !Ref ShowMediaConvertQueue
          SHOW_MEDIACONVERT_TEMPLATE: !Ref ShowMediaConvertTemplate

          START_PIPELINE: True
      LoggingConfig:
        LogGroup: !Ref S3IngestUploadTriggerLogGroup
      Events:
        S3Event:
          Type: EventBridgeRule
          Properties:
            Pattern:
              source:
                - aws.s3
              detail-type:
                - Object Created
              detail:
                bucket:
                  name:
                    - !Ref IngestS3BucketName
                object:
                  key:
                    - wildcard: "*.csv"


Outputs:
  S3IngestUploadTriggerArn:
    Value: !GetAtt S3IngestUploadTrigger.Arn